$content-width: 960px;
$wrap-width: 1400px;

%sect {
  max-width: 1400px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 15%;
}

body {
  width: 100%;
  margin: 0;
}

.header {
  @extend %sect;
  background-image: url("img/background.jpg");
  background-position: top;
  background-size: cover;
  height: 620px;
  color: white;
}
